
.container {
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    justify-content: center;
    gap: 10px;
}

.scene {
    height: auto;
    width: 100%;
}